<% button_label = local_assigns.fetch(:button_label, "Позвонить") %>
<% button_classes = local_assigns.fetch(:button_classes, "call-button") %>
<% dropdown_classes = local_assigns.fetch(:dropdown_classes, nil) %>

<div class="<%= ["call-dropdown", dropdown_classes].compact.join(" ") %>" data-controller="call-dropdown">
  <button
    type="button"
    class="<%= [button_classes, "call-dropdown__toggle"].join(" ") %>"
    data-action="click->call-dropdown#toggle"
    aria-expanded="false"
  >
    <%= button_label %>
  </button>

  <div class="call-dropdown__menu" data-call-dropdown-target="menu">
    <a href="tel:+375292746333" class="call-dropdown__link">
      <span class="call-dropdown__label">MTC +375 (29) 274-63-33</span>
    </a>

    <a href="tel:+375296885529" class="call-dropdown__link">
      <span class="call-dropdown__label">A1 +375 (29) 688-55-29</span>
    </a>
  </div>
</div>
