<footer class="footer">
  <div class="container footer__inner">
    <a href="<%= root_path %>" class="footer__logo">
      <span class="logo__blue">Дверной.</span><span class="logo__orange">бел</span>
    </a>

    <nav class="footer__nav">
      <a href="#catalog">Каталог</a>
      <a href="#catalog">Комплекты</a>
      <a href="#catalog">Каталог +</a>
      <a href="#catalog">Контакты</a>
    </nav>
  </div>

  <div class="container footer__bottom">
    © 2026 Дверной.бел * Все права защищены
  </div>
</footer>
