<div class="topbar">
  <div class="container topbar__inner">
    <div class="topbar__left">
      <%= inline_svg_tag "icons/location.svg" %>
      <span>Молодечно Ошмяны Островец Минск</span>
    </div>

    <div class="topbar__phones">
      <a href="tel:+375292746333">
        <%= inline_svg_tag "icons/phone.svg" %>
        +375 (29) 274-63-33
      </a>
      <a href="tel:+375296685629">
        +375 (29) 668-56-29
      </a>
    </div>
  </div>
</div>
