<section class="cta-section">
  <div class="container cta-section__inner">
    <h2>Нужна помощь с выбором двери? Подберём подходящий вариант под ваш интерьер и бюджет</h2>

    <div class="cta-section__phones">
      <a href="tel:+375293655228">+375 (29) 365-52-28</a>
    </div>

    <div class="cta-section__actions">
      <a
        href="tel:+375293655228"
        class="btn btn__call"
      >
        Позвонить
      </a>



      <%#= render "shared/call_dropdown" %>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container footer__inner">
    <a href="<%= root_path %>" class="footer__logo">
      <span class="footer__logo-dark">Дверной.</span><span class="footer__logo-light">бел</span>
    </a>
  </div>

  <div class="container footer__bottom">
    © 2026 дверной.бел · xn--b1adeqtgm.xn--90ais · Все права защищены
  </div>
</footer>
