<section class="error-page">
  <div class="container">
    <div class="error-page__inner">
      <p class="error-page__code">
        404
      </p>

      <h1 class="error-page__title">
        Эта дверь не открывается
      </h1>

      <p class="error-page__text">
        Возможно, модель была обновлена, перемещена или удалена из каталога
      </p>

      <div class="error-page__actions">
      <%= link_to "Подобрать другую дверь",
                  root_path(anchor: "catalog"),
                  class: "btn btn__call" %>
      </div>
    </div>
  </div>
</section>
