<div class="filter-grid">
  <label>
    Бренд
    <%# <%= select_tag :brand, options_for_select(@brands), include_blank: "Все бренды" %>
  </label>

  <label>
    Цена от
    <%= number_field_tag :price_from, params[:price_from] %>
  </label>

  <label>
    Цена до
    <%= number_field_tag :price_to, params[:price_to] %>
  </label>

  <label>
    Конструкция
    <%= select_tag :construction_type, options_for_select(["металл-мдф", "мдф-мдф", "терморазрыв"]), include_blank: "Любая" %>
  </label>
</div>
