<section class="benefit">
  <div class="container benefit__grid">
    <div class="benefit-item" data-action="click->catalog-animation#play" data-catalog-animation-mode="section">
      <span class="benefit-item__icon">
        <%= inline_svg_tag "icons/credit.svg" %>
      </span>
      <span class="benefit-item__text">Рассрочка 0% и кредит</span>
    </div>

    <div class="benefit-item" data-action="click->catalog-animation#play" data-catalog-animation-mode="section">
      <span class="benefit-item__icon">
        <%= inline_svg_tag "icons/select.svg" %>
      </span>
      <span class="benefit-item__text">Подбор оптимального варианта</span>
    </div>

    <div class="benefit-item" data-action="click->catalog-animation#play" data-catalog-animation-mode="section">
      <span class="benefit-item__icon">
        <%= inline_svg_tag "icons/mesure-delivery.svg" %>
      </span>
      <span class="benefit-item__text">Замер, доставка, чистый монтаж</span>
    </div>

    <div class="benefit-item" data-action="click->catalog-animation#play" data-catalog-animation-mode="section">
      <span class="benefit-item__icon">
        <%= inline_svg_tag "icons/call.svg" %>
      </span>
      <span class="benefit-item__text">Консультация по телефону</span>
    </div>
  </div>
</section>
