<section class="popular-categories">
  <div class="container">
    <h2>Популярные категории</h2>

    <div class="popular-categories__grid">
      <% featured_categories.each_with_index do |item, index| %>
        <%= render "products/category_card", item:, index: %>
      <% end %>
    </div>
  </div>
</section>
